#!/usr/bin/env sh
export NIX_CONFIG='extra-experimental-features = flakes nix-command'
if has git; then
	if ! git ls-files --error-unmatch ./flake.nix ./flake.lock >/dev/null; then
		git add --intent-to-add ./flake.nix ./flake.lock
	fi
fi

strict_env

use flake

source ./script/vars
